**Задание 2**

In [1]:
import pandas as pd
import io
from google.colab import files
uploaded1 = files.upload()

Saving keywords.csv to keywords.csv

In [2]:
df1 = pd.read_csv(io.BytesIO(uploaded1['keywords.csv']))

In [78]:
df1 = df1.sort_values('shows', ascending=True)

                                      keyword  shows
94199            моторола командир повстанцев   1942
88648    мастер шеф дети 2 сезон украина 2017   2292
96499  баталов алексей владимирович биография   2527
97930     евротур хоккей 2016 2017 расписание   2821
95416                     русских не победить   2832
98103                 адаптация актеры и роли   2836
68197                   сотня 4 сезон 2 серия   2956
77373    сверхъестественное 12 сезон 11 серия   2964
93084              приключения шаркбоя и лавы   3139
81295                      дело чести 1 сезон   3170

In [82]:
df1['keyword_list'] = df1['keyword'].apply(lambda x: x.split(' '))

In [83]:
df1.head(10)

                                      keyword  ...                                  keyword_list
94199            моторола командир повстанцев  ...              [моторола, командир, повстанцев]
88648    мастер шеф дети 2 сезон украина 2017  ...  [мастер, шеф, дети, 2, сезон, украина, 2017]
96499  баталов алексей владимирович биография  ...   [баталов, алексей, владимирович, биография]
97930     евротур хоккей 2016 2017 расписание  ...     [евротур, хоккей, 2016, 2017, расписание]
95416                     русских не победить  ...                       [русских, не, победить]
98103                 адаптация актеры и роли  ...                  [адаптация, актеры, и, роли]
68197                   сотня 4 сезон 2 серия  ...                   [сотня, 4, сезон, 2, серия]
77373    сверхъестественное 12 сезон 11 серия  ...    [сверхъестественное, 12, сезон, 11, серия]
93084              приключения шаркбоя и лавы  ...               [приключения, шаркбоя, и, лавы]
81295                      дело чести 1 сезон  ...                       [дело, чести, 1, сезон]

[10 rows x 4 columns]

In [89]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [92]:
def geo_idenifier(keyword_list):
  for k, v in geo_data.items():
    for a in keyword_list:
      if a in v:
        return k

In [105]:
df1['region'] = df1['keyword_list'].apply(geo_idenifier)
df1.head()

                                      keyword  ...  region
94199            моторола командир повстанцев  ...    None
88648    мастер шеф дети 2 сезон украина 2017  ...    None
96499  баталов алексей владимирович биография  ...    None
97930     евротур хоккей 2016 2017 расписание  ...    None
95416                     русских не победить  ...    None

[5 rows x 5 columns]

In [106]:
df1_real = df1.dropna(axis=0)
print(df1_real)

                                                keyword  ...          region
99204                        bileter ru санкт петербург  ...    Северо-Запад
99590             авито ярославль автомобили с пробегом  ...           Центр
99084  122 медсанчасть санкт петербург официальный сайт  ...    Северо-Запад
98388                  пилюли ру интернет аптека москва  ...           Центр
98183               москва октябрьская это какой вокзал  ...           Центр
...                                                 ...  ...             ...
1063                                фарпост владивосток  ...  Дальний Восток
849                                     авито ярославль  ...           Центр
370                            авито ру санкт петербург  ...    Северо-Запад
127                                        авито москва  ...           Центр
93321                                      москва авито  ...           Центр

[594 rows x 5 columns]

**Задание 1**

In [5]:
uploaded2 = files.upload()
uploaded3 = files.upload()

Saving ratings.csv to ratings.csv

Saving movies.csv to movies.csv

In [16]:
df2 = pd.read_csv(io.BytesIO(uploaded2['ratings.csv']))
df3 = pd.read_csv(io.BytesIO(uploaded3['movies.csv']))

In [49]:
joined = df2[['movieId', 'rating']].merge(df3[['movieId', 'title']], on='movieId', how='left')
joined= joined.groupby('title').agg('mean').reset_index()

In [71]:
# - оценка 2 и меньше - низкий рейтинг
# - оценка 4 и меньше - средний рейтинг
# - оценка 4.5 и 5 - высокий рейтинг

def rating_counter(rating):
    class_rating = ""
    if rating <= 2:
      class_rating = 'низкий рейтинг' 
    elif rating <= 4:
      class_rating = 'средний рейтинг'
    else:
      class_rating = 'высокий рейтинг'
    return class_rating

In [72]:
joined['rating status'] = joined['rating'].apply(rating_counter)
joined.head()

                                     title  movieId    rating    rating status
0         "Great Performances" Cats (1998)  51372.0  1.750000   низкий рейтинг
1                             $9.99 (2008)  74486.0  3.833333  средний рейтинг
2  'Hellboy': The Seeds of Creation (2004)  97757.0  2.000000   низкий рейтинг
3          'Neath the Arizona Skies (1934)  70121.0  0.500000   низкий рейтинг
4                   'Round Midnight (1986)  26564.0  2.250000  средний рейтинг