In [1]:
import pandas as pd
import io
from google.colab import files
uploaded1 = files.upload()

Saving horse_data.csv to horse_data.csv

In [27]:
df.head()

   surgery  Age  ...  peripheral_pulse  mucous_membranes
0      2.0    1  ...               3.0               NaN
1      1.0    1  ...               NaN               4.0
2      2.0    1  ...               1.0               3.0
3      1.0    9  ...               1.0               6.0
4      2.0    1  ...               NaN               6.0

[5 rows x 8 columns]

In [56]:
df.describe()

          surgery         Age  ...  peripheral_pulse  mucous_membranes
count  299.000000  300.000000  ...        231.000000        253.000000
mean     1.397993    1.640000  ...          2.017316          2.853755
std      0.490305    2.173972  ...          1.042428          1.620294
min      1.000000    1.000000  ...          1.000000          1.000000
25%      1.000000    1.000000  ...          1.000000          1.000000
50%      1.000000    1.000000  ...          2.000000          3.000000
75%      2.000000    1.000000  ...          3.000000          4.000000
max      2.000000    9.000000  ...          4.000000          6.000000

[8 rows x 8 columns]

In [22]:
df1 = pd.read_csv(io.BytesIO(uploaded1['horse_data.csv']), names=['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion', 'site_of_lesion', 'type_of_lesion', 'code_of_lesion', 'cp_data'])

In [23]:
df = df1[['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes']]

In [24]:
# no na dataset
df3 = pd.DataFrame(columns=['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes'])

In [25]:
# no outliers dataset
df2 = pd.DataFrame(columns=['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes'])

In [ ]:
df['temperature_of_extremities'] = pd.to_numeric(df['temperature_of_extremities'], errors='coerce')
df['pulse'] = pd.to_numeric(df['pulse'], errors='coerce')
df['rectal_temperature'] = pd.to_numeric(df['rectal_temperature'], errors='coerce')
df['respiratory_rate'] = pd.to_numeric(df['respiratory_rate'], errors='coerce')
df['surgery'] = pd.to_numeric(df['surgery'], errors='coerce')
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['peripheral_pulse'] = pd.to_numeric(df['peripheral_pulse'], errors='coerce')
df['mucous_membranes'] = pd.to_numeric(df['mucous_membranes'], errors='coerce')

In [ ]:
df['temperature_of_extremities'].dropna()
df['pulse'].dropna()
df['rectal_temperature'].dropna()
df['respiratory_rate'].dropna()
df['surgery'].dropna()
df['Age'].dropna()
df['peripheral_pulse'].dropna()
df['mucous_membranes'].dropna()

In [29]:
def remove_outliers(column): 
  no_outs = []
  q1 = column.quantile(0.25)
  q3 = column.quantile(0.75)
  iqr = q3 - q1 
  lower_bound = q1 - (1.5 * iqr)
  upper_bound = q1 + (1.5 * iqr)
  for c in column:
    if c > lower_bound and c < upper_bound:
      no_outs.append(c)
  return no_outs

In [59]:
df2['surgery'] = remove_outliers(df['surgery'])

In [60]:
df2['surgery'].mean()

1.3979933110367893

In [61]:
df['surgery'].mean()

1.3979933110367893

In [ ]:
remove_outliers(df['respiratory_rate'])

In [ ]:
remove_outliers(df['temperature_of_extremities'])

In [ ]:
remove_outliers(df['peripheral_pulse'])

In [ ]:
remove_outliers(df['mucous_membranes'])

In [ ]:
remove_outliers(df['rectal_temperature'])

In [ ]:
remove_outliers(df['pulse'])

In [ ]:
remove_outliers(df['rectal_temperature'])